{% extends 'base.html' %}
{% block content %}
<h2>Resident Dashboard</h2>

<a class="btn" href="{% url 'tickets:submit' %}">Submit New Issue</a>

<h3>My Submitted Issues</h3>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Action</th>
    </tr>

    {% for t in tickets %}
    <tr>
        <td>{{ t.title }}</td>
        <td>{{ t.status }}</td>
        <td>{{ t.priority_score }}</td>
        <td><a href="{% url 'tickets:view' t.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
